{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <h1>{{review.title}}</h1>
    <p>{{ review.like_users.all.count }}명이 좋아합니다</p>
    {% if user in review.like_users.all %}
        <a href="{% url 'movies:like_review' review.id %}">좋아요 취소</a>
    {% else %}
        <a href="{% url 'movies:like_review' review.id %}">좋아요</a>
    {% endif %}
    <br>
    <a href="{% url 'movies:update_review' review.id %}">리뷰 수정</a>
    <p>{{review.content}}</p>

    <form action="{% url 'movies:delete_review' review.id %}" method = "POST">
        {% csrf_token %}
        {% if user == review.user %}
            {% bootstrap_button "리뷰 삭제" button_type="submit" button_class="btn-danger" %}
        {% endif %}
    </form>

    {% for comment in review.comments.all %}
        <p class="h4 d-inline">{{ comment.content }}</p>
        <a href="{% url 'movies:delete_comment' comment.id review.id %}" class="ml-5">삭제</a>
        <br>
    {% endfor %}
    <form action="{% url 'movies:create_comment' review.id %}" method="POST">
        {% csrf_token%}
        {% bootstrap_form form %}
        {% bootstrap_button "저장" button_type="submit" button_class="btn-primary" %}
    </form>
{% endblock %}