{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade w-50 m-auto" data-ride="carousel">
      <div class="carousel-inner" style="height:900px;">
        {% for movie in movies %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
              <a href="{% url 'movies:detail_movie' movie.id %}"><img src="{{movie.poster_path}}" style="" class="d-block w-100" alt="..."></a>
            </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



{% endblock %}
<a href="{% url 'movies:create_movie' %}" type="button" class="btn btn-primary mb-5"></a>
