{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/1c45f569a6.js" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        {% if user.is_authenticated %}
        {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href='{% url 'accounts:logout' %}'>logout</a>
          </li>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href='{% url 'accounts:signup' %}'>signup</a>
          </li>
          <li class="nav-item">
            <a href='{% url 'accounts:login' %}' class="nav-link" >login</a>
          </li>

        </ul>
        {% endif %}
      </div>
      <div>
          {% if user.is_authenticated %}
              <h5>{{user.username}}님 하이요!</h5>
          {% else %}
              <h5>login 해주세요</h5>
          {% endif %}
      </div>
    </nav>
    {% if user.is_authenticated %}
    {% endif %}

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
</body>

{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}
</html>